/* Print Style Sheet
---------------------------------------- */

/* Lots still TODO here! */

/* General markup styles */
#phpbbforum-page * {
	padding: 0;
	margin: 0;
}

#phpbbforum-page body {
	font: 11pt Verdana, Arial, Helvetica, sans-serif;
	color:#000000;
}

#phpbbforum-page a:link		{ color: #000000; text-decoration: none; }
#phpbbforum-page a:visited	{ color: #000000; text-decoration: none; }
#phpbbforum-page a:active	{ color: #000000; text-decoration: none; }

#phpbbforum-page img, #phpbbforum-page .noprint, #phpbbforum-page #sub-header, #phpbbforum-page #sub-footer, #phpbbforum-page .navbar, #phpbbforum-page .box1, #phpbbforum-page .divider, #phpbbforum-page .signature { display: none; }
/* Display smilies (Bug #47265) */
#phpbbforum-page .content img {
	display: inline;
}

/* Container for the main body */
#phpbbforum-page #wrap {
	margin: 0 2em;
}

#phpbbforum-page p { font-size: 85%; }
#phpbbforum-page .copyright { font-size: 75%; }
#phpbbforum-page .page-number { float:right; width: auto; text-align: right; font-size: 75%; }

#phpbbforum-page h1, #phpbbforum-page h2, #phpbbforum-page h3, #phpbbforum-page h1 a, #phpbbforum-page h2 a, #phpbbforum-page h3 a {
	font-family: "Trebuchet MS",georgia,Verdana,Sans-serif;
	color: #000000;
	background: none;
	text-decoration: none;
	font-weight: bold;
}

#phpbbforum-page h1 { font-size: 20pt; }
#phpbbforum-page h2 { font-size: 16pt; margin-top: 1em; }
#phpbbforum-page h3 { font-size: 14pt; margin-top: 1em; }

#phpbbforum-page .content {
	font-size: 11pt;
	line-height: 14pt;
	margin-bottom: 1em;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	overflow: hidden;
}

/* CSS2 Print tip from: http://www.alistapart.com/articles/goingtoprint/ */
#phpbbforum-page .postbody a:link, #phpbbforum-page .postbody a:active, #phpbbforum-page .postbody a:hover, #phpbbforum-page .postbody a:visited {
	text-decoration: underline;
	padding: 0.1em 0.2em;
	margin: -0.1em -0.2em;
	color: #666;
	background: none;
	font-size: 100%;
}

#phpbbforum-page html>body .postbody a:link:after, #phpbbforum-page html>body .postbody a:visited:after {
	content: " (" attr(href) ") ";
	font-size: 90%;
	text-decoration: none;
}

#phpbbforum-page hr {
	height: 1px;
	background-color: #999999;
	border-width: 0;
}

#phpbbforum-page .author {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 75%;
	margin-bottom: 0.6em;
}

#phpbbforum-page .date {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	float: right;
	position: relative;
	text-align: right;
	font-size: 75%;
}

/* Dont want to print url for names or titles in content area */
#phpbbforum-page .postbody .author a:link, #phpbbforum-page .postbody .author a:visited, 
#phpbbforum-page html>body .postbody .author a:link:after, 
#phpbbforum-page html>body .postbody .author a:visited:after,
#phpbbforum-page .postquote .quote-by a:link, #phpbbforum-page .postquote .quote-by a:visited, 
#phpbbforum-page html>body .postquote .quote-by a:link:after, 
#phpbbforum-page html>body .postquote .quote-by a:visited:after,
#phpbbforum-page html>body .postbody h1 a:link:after, #phpbbforum-page html>body .postbody h2 a:link:after {
	text-decoration: none;
	content: "";
}

/* Poster profile */
#phpbbforum-page .postprofile { display: none; }
#phpbbforum-page .grip-show { display:none; }

/* Quote */
#phpbbforum-page .postquote, #phpbbforum-page blockquote {
	font-size: 85%;
	margin: 1em 18% 1em 4%;
	padding: 0.5em;
	position: relative;
	line-height: 1.5em;
	border: 1px #999999 solid;
}

#phpbbforum-page .postquote img { display: none; }
#phpbbforum-page .postquote span { display: block; }
#phpbbforum-page .postquote span .postquote { font-size: 100%; }
#phpbbforum-page .quote-by, blockquote cite { 
	color: black;
	display : block;
	font-weight: bold;
}

/* List */
#phpbbforum-page ol, #phpbbforum-page ul {
	margin-left: 15pt
}

/* Misc page elements */
#phpbbforum-page div.spacer { clear: both; }

/* Accessibility tweaks: Mozilla.org */
#phpbbforum-page .skip_link { display: none; }

#phpbbforum-page dl.codebox dt { display: none; }
