#page-wrapper,.region-bottom {
min-width:960px;
}

.region-content {
width:580px;
}

#main-wrapper {
position:relative;
}

#content {
float:left;
margin-left:0;
margin-right:-100%;
max-width:960px;
min-width:580px;
width:90%;
padding:0;
}

#content .section,.no-sidebars #content .section {
margin:0;
padding:0;
}

.sidebar-first #content .section {
padding-left:200px;
padding-right:0;
}

.sidebar-second #content .section {
padding-left:0;
padding-right:200px;
}

.two-sidebars #content .section {
padding-left:200px;
padding-right:200px;
}

#navigation {
float:left;
height:3em;
margin-left:0;
margin-right:-100%;
width:100%;
padding:0;
}

.with-navigation #content,.with-navigation .region-sidebar-first,.with-navigation .region-sidebar-second {
margin-top:3em;
width:20%;
height:220px;
}

.section .block .content img{width:120px;height:120px;}
.region-sidebar-first {
float:left;
margin-left:0;
margin-right:-200px;
padding:0;
}

.region-sidebar-first .section {
margin:0 20px 0 0;
padding:0;
}

.region-sidebar-second {
float:right;
margin-left:-200px;
margin-right:0;
padding:0;
}

.region-sidebar-second .section {
margin:0 0 0 20px;
padding:0;
}

#header,#content,#navigation,.region-sidebar-first,.region-sidebar-second,.region-footer,.region-bottom {
overflow:visible;
word-wrap:break-word;
}