#page {
font-family:Verdana;
font-size:12px;
background:#FFF url('http://reactos.org/images/topbar.jpg') repeat-x left top;
margin:0 0 1em;
padding:0;
}

h1 {
display:block;
line-height:normal;
font-size:14px;
font-weight:700;
color:#FFF;
background-color:#5984c3;
margin-top:0;
padding:0 0 1px 10px;
}

#header {
background:url('http://reactos.org/images/logo.jpg') no-repeat scroll 35px 0;
color:#FFF;
text-align:right;
margin:0;
padding:103px 0 26px;
}

#logo,#site-name-wrapper {
display:none;
}

h2.block-title,.node h2 {
background:#5984c3;
color:#fff;
}

div#sidebar-second,div#sidebar-first {
width:20%;
}

div#content-group,div#main-group {
width:80%;
}

.node.node-news.clearfix {
clear:left;
}

.main-news {
width:49%;
float:left;
margin-left:1%;
}

.main-news:first-child {
margin-left:0;
}

#block-system-main-menu ul.menu {
list-style-type:none;
text-align:center;
line-height:normal;
margin:0;
padding:0;
}

#block-system-main-menu li {
display:inline-block;
border-left:#fff 1px solid;
line-height:normal;
margin:0;
padding:0 3px;
}

#block-system-main-menu li:first-child {
border-left:none;
}

#block-system-main-menu li:first-child a {
font-size:13px;
color:#FFF;
text-decoration:none;
padding:1px 5px;
}

#block-system-main-menu li:first-child a:hover {
color:#000;
background-color:#FC3;
}

#block-block-1,#block-block-2,#block-views-frontpage-block_1 {
width:100%;
overflow:hidden;
height:auto;
}