#page {
font-family:Verdana;
font-size:12px;
background:#FFF url('./sites/all/themes/zen_reactos/images/topbar.jpg') repeat-x left top;
margin:0 0 1em;
padding:0;
}

h1 {
display:block;
line-height:normal;
font-size:14px;
font-weight:700;
color:#FFF;
background-color:#5984c3;
margin-top:0;
padding:0 0 1px 10px;
}

#header {
background:url('./sites/all/themes/zen_reactos/images/logo.jpg') no-repeat scroll 35px 0;
color:#FFF;
text-align:right;
margin:0;
padding:103px 0 26px;
}

#logo,#site-name-wrapper {
display:none;
}

h2.block-title,.node h2 {
background:#5984c3;
color:#fff;
}

div#sidebar-second,div#sidebar-first {
width:20%;
}

div#content-group,div#main-group {
width:80%;
}

.node.node-news.clearfix {
clear:left;
}

.main-news {
width:49%;
float:left;
margin-left:1%;
}

.main-news:first-child {
margin-left:0;
}

#block-system-main-menu ul.menu {
list-style-type:none;
text-align:center;
line-height:normal;
margin:0;
padding:0;
}

#block-system-main-menu li {
display:inline-block;
border-left:#fff 1px solid;
line-height:normal;
margin:0;
padding:0 3px;
}

#block-system-main-menu li:first-child {
border-left:none;
}

#block-system-main-menu li:first-child a {
font-size:13px;
color:#FFF;
text-decoration:none;
padding:1px 5px;
}

#block-system-main-menu li:first-child a:hover {
color:#000;
background-color:#FC3;
}

#block-block-1,#block-block-2,#block-views-frontpage-block_1 {
width:100%;
overflow:hidden;
height:auto;
}
.block /* Block wrapper */ {
  margin-bottom: 1.5em;
}

.block.first /* The first block in the region */ {
}

.block.last /* The last block in the region */ {
}

.block.odd /* Zebra striping for each block in the region */ {
}

.block.even /* Zebra striping for each block in the region */ {
}

h2.block-title /* Block title */ {
}

.block .content /* Block's content wrapper */ {
}

#block-aggregator-category-1 /* Block for the latest news items in the first category */ {
}

#block-aggregator-feed-1 /* Block for the latest news items in the first feed */ {
}

#block-block-1 /* First block created with "Add block" link */ {
}

#block-blog-recent /* "Recent blog posts" block */ {
}

#block-book-navigation /* "Book navigation" block for the current book's table of contents */ {
}

#block-comment-recent /* "Recent comments" block */ {
}

#block-forum-active /* "Active forum topics" block */ {
}

#block-forum-new /* "New forum topics" block */ {
}

#block-locale-language /* Language switcher block */ {
}

#block-menu-menu-NAME /* Custom menu block  */ {
}

#block-node-recent /* "Recent content" block */ {
}

#block-node-syndicate /* "Syndicate" block for primary RSS feed; see also page.css's .feed-icon */ {
}

#block-poll-recent /* "Most recent poll" block */ {
}

#block-profile-author-information /* "Author information" block for the profile of the page's author */ {
}

#block-search-form /* "Search form" block */ {
}

#block-shortcut-shortcuts /* "Shortcuts" block */ {
}

#block-statistics-popular /* "Popular content" block */ {
}

#block-system-main-menu /* "Main menu" block */ {
}

#block-system-management /* "Management" block for Drupal management menu */ {
}

#block-system-navigation /* "Navigation" block for Drupal navigation menu */ {
}

#block-system-user-menu /* "User menu" block for Drupal user menu */ {
}

#block-system-help /* "System help" block */ {
}

#block-system-main /* "Main page content" block */ {
}

#block-system-powered-by /* "Powered by Drupal" block */ {
}

#block-user-login /* "User login form" block */ {
}

#block-user-new /* "Who's new" block for a list of the newest users */ {
}

#block-user-online /* "Who's online" block for a list of the online users */ {
}