
/****************************/
/* LOCAL CSS                */


/* Put your custom CSS and CSS overrides in this file and  */
/* rename it local.css.  By restricting your CSS changes   */
/* to local.css, your changes will not be overwritten when */
/* upgrading to a new version of this theme.  You can also */
/* use a local-rtl.css file for the equivalent in RTL.     */

/* Steps to activate local.css:                       */
/* 1. Add your custom CSS to this file                */
/* 2. Rename this file to local.css                   */
/* 3. Clear cached data at admin/settings/performance */


#page{
font-family: Verdana;
font-size: 12px;
margin: 0 0 1em 0;
padding: 0;
background: white url('http://reactos.org/images/topbar.jpg') repeat-x left top;
}

h1{
display: block;
line-height: normal;
font-size: 14px;
font-weight: bold;
color: white;
background-color: #5984c3;
padding: 0 0 1px 10px;
margin-top: 0;
}
#header{
margin: 0;
background: url('http://reactos.org/images/logo.jpg') no-repeat scroll 35px 0;
padding: 103px 0 26px 0;
color: white;
text-align: right;
}
#logo,#site-name-wrapper{
display:none;
}

#block-system-main-menu ul.menu {
	list-style-type:none;
	text-align:center;
	margin:0;
	padding:0;
	line-height:normal;
}

#block-system-main-menu ul.menu li {
	display:inline-block;
	margin:0;
	padding:0;
	border-left:#fff 1px solid;
	padding:0 3px;
	line-height:normal;
}

#block-system-main-menu ul.menu li:first-child {
	border-left:none;
}

#block-system-main-menu ul.menu li a {
	font-size: 13px;
	color: white;
	text-decoration: none;
	padding: 1px 5px 1px 5px;
}

#block-system-main-menu ul.menu li a:hover {
	color: black;
	background-color: #FC3;
}

h2.block-title, .node h2 {
background: #5984c3;
color:#fff;
font-size:14px;
padding-left:12px;
}

div#sidebar-second, div#sidebar-first {
width:20%;
}
div#content-group, div#main-group{
width:80%;
}
.node.node-news.clearfix{
clear:left;
}
#block-block-1,#block-block-2{
width:100%;
overflow:hidden;
height:auto;
}
.main-news{
}
.main-news:first-child{
margin-left:none;
}
#block-views-frontpage-block_1{
width:100%;
overflow:hidden;
height:auto;

}
#block-views-main-page-news-block{
clear:left;
}
#block-views-main-page-news-block div.view-content{
float:left;
width:49%;
}
#block-views-main-page-news-block div.view-footer  div.view-content{
float:right;
}
#block-views-main-page-news-block div.view-footer  div.view-content h2{
color:#006090;
font-size:12px;
background:#fff;
}

.region-sidebar-first .block-menu .content ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	background-color: #EEE;
	border-top: #3F3849 0 solid;
	border-right: #3F3849 1px solid;
	border-left: #3F3849 1px solid;
}

.region-sidebar-first .block-menu .content ul li {
	font-size: 13px;
	font-weight: bold;
	border-bottom: #3F3849 1px solid;
}

.region-sidebar-first .block-menu .content ul li a {
	display: block;
	font-size:12px;
	/*width: 137px;*/
	padding: 2px 4px 2px 4px;
	color: #3F3849;
	text-decoration: none;
	background-color: #EEE;
}

.region-sidebar-first .block-menu .content ul li a:hover {
	color: black;
	background-color: #FC3;
}

.region-sidebar-first .block-search .content {
	background-color: #EEE;
	border: #3F3849 1px solid;
	border-top:none;
}

#footer {
	font: italic 9px Verdana;
	border-top: 1px solid black;
	text-align: center;
	padding: 6px 0px;
}

.greenButton {
}

.greenButtonDownload {
	background: url('http://www.reactos.org/images/button_download.jpg');
}

.greenButtonDonate {
	background: url('http://www.reactos.org/images/button_donate.jpg');
}

.greenButtonCompat {
	background: url('http://www.reactos.org/images/button_comp_home.jpg');
}

.greenButton a {
	font-size: 16px;
	color: #367D10;
	height: 49px;
	width: 235px;
	display: block;
}

.greenButtonLabel {
	width: 178px;
	position: relative;
	top: 8px;
	left: 50px;
	height: 30px;
	vertical-align: bottom;
	text-align: center;
	font: normal 16px Verdana;
	font-weight: 700;
	line-height: 25px;
}



/* BELOW ARE CONTENTS OF THE REACTOS-STYLE.CSS FROM /SITES/DEFAULT/ */





#page-wrapper a {
  font-size:12px;
  color:#006090;
}
#main { margin:0 .4em; }
#main .region-sidebar-first .block-menu .content ul {
  margin:0;
  padding:0;
  list-style-type:none;
  background-color:#eeeeee;
  border-top:#3f3849 0 solid;
  border-right:#3f3849 1px solid;
  border-left:#3f3849 1px solid;
}
#main .region-sidebar-first .block-menu .content ul li {
  font-size:13px;
  font-weight:bold;
  border-bottom:#3f3849 1px solid;
}
#main .region-sidebar-first .block-menu .content ul li ul {
  border-left:none;
  border-right:none;
}
#main .region-sidebar-first .block-menu .content ul li ul li {
  border-bottom:none;
  border-top:#3f3849 1px solid;
}
#main .region-sidebar-first .block-menu .content ul li ul li a {
  padding-left:10px;
  background-color:#cdcdcd;
  color:#2f2839;
}
#main .region-sidebar-first .block-menu .content ul li a {
  display:block;
  font-size:12px;
  padding:2px 4px 2px 4px;
  color:#3f3849;
  text-decoration:none;
  background-color:#eeeeee;
}
#main .region-sidebar-first .block-menu .content ul li a:hover {
  color:black;
  background-color:#ffcc33;
}
#main .region-sidebar-first .block-search .content {
  background-color:#eeeeee;
  border:#3f3849 1px solid;
  border-top:none;
}
#page {
  font-family:Verdana;
  font-size:12px;
  margin:0 0 1em 0;
  padding:0;
  background:white url('http://reactos.org/images/topbar.jpg') repeat-x left top;
}
h1 {
  display:block;
  line-height:normal;
  font-size:14px;
  font-weight:bold;
  color:white;
  background-color:#5984c3;
  padding:0 0 1px 10px;
  margin-top:0;
}
#header {
  margin:0;
  background:url('http://reactos.org/images/logo.jpg') no-repeat scroll 35px 0;
  padding:103px 0 26px 0;
  color:white;
  text-align:right;
}
#logo, #site-name-wrapper { display:none; }
#block-system-main-menu ul.menu {
  list-style-type:none;
  text-align:center;
  margin:0;
  padding:0;
  line-height:normal;
}
#block-system-main-menu ul.menu li {
  display:inline-block;
  margin:0;
  padding:0;
  padding:0 3px;
  border-left:#ffffff 1px solid;
  line-height:normal;
}
#block-system-main-menu ul.menu li:first-child { border-left:none; }
#block-system-main-menu ul.menu li a {
  font-size:13px;
  color:white;
  text-decoration:none;
  padding:1px 5px 1px 5px;
}
#block-system-main-menu ul.menu li a:hover {
  color:black;
  background-color:#ffcc33;
}
h2.block-title, .node h2, h2.pane-title {
  background:#5984c3;
  color:#ffffff;
  font-size:14px;
  padding-left:12px;
}
div#sidebar-second, div#sidebar-first { width:20%; }
div#content-group, div#main-group { width:80%; }
.node.node-news.clearfix { clear:left; }
#block-block-1, #block-block-2 {
  width:100%;
  overflow:hidden;
  height:auto;
}
.main-news:first-child { margin-left:none; }
#block-views-frontpage-block_1 {
  width:100%;
  overflow:hidden;
  height:auto;
}
#block-views-main-page-news-block { clear:left; }
#block-views-main-page-news-block div.view-content {
  float:left;
  width:49%;
}
#block-views-main-page-news-block div.view-footer  div.view-content { float:right; }
#block-views-main-page-news-block div.view-footer  div.view-content h2 {
  color:#006090;
  font-size:12px;
  background:#ffffff;
}
img.icon, p.icon_p img {
  height:48px;
  width:48px;
  float:left;
  margin:11px 10px 5px 10px;
  border:0;
}
.view-Newsletter .view-header p {
  margin:0;
  color:#666666;
}
.view-Newsletter .views-field-title { font-weight:bold; }
.view-News .views-row {
  color:#666666;
  font-weight:bold;
}

/* user-register-form */

#user-register-form {
	background-color: #E1EAFB;
	text-align: center;
	width: 350px;
	padding: 10px;
}
#user-register-form input[type="text"], #user-register-form input[type="password"] {
	background-color: #FFFADB;
	border: 1px solid #CBB945;
	color: #776B1B;
	padding: 3px 7px;
	width: 200px;
}
#user-register-form label {
	color: #817A71;
}

/* user-login */

#user-login {
	background-color: #E1EAFB;
	text-align: center;
	width: 350px;
	padding: 10px;
}
#user-login input[type="text"], #user-login input[type="password"] {
	background-color: #FFFADB;
	border: 1px solid #CBB945;
	color: #776B1B;
	padding: 3px 7px;
	width: 200px;
}
#user-login label {
	color: #817A71;
}