#page-wrapper {
font-family: Verdana;
font-size: 12px;
margin: 0 0 1em 0;
padding: 0;
}

#page-wrapper a {
	font-size:12px;
	color:#006090;
}

h1{
display: block;
line-height: normal;
font-size: 14px;
font-weight: bold;
color: white;
background-color: #5984c3;
padding: 0 0 1px 10px;
margin-top: 0;
}


#block-system-main-menu ul.menu {
	list-style-type:none;
	text-align:center;
	margin:0;
	padding:0;
	line-height:normal;
}

#block-system-main-menu ul.menu li {
	display:inline-block;
	margin:0;
	padding:0;
	border-left:#fff 1px solid;
	padding:0 3px;
	line-height:normal;
}

#block-system-main-menu ul.menu li:first-child {
	border-left:none;
}

#block-system-main-menu ul.menu li a {
	font-size: 13px;
	color: white;
	text-decoration: none;
	padding: 1px 5px 1px 5px;
}

#block-system-main-menu ul.menu li a:hover {
	color: black;
	background-color: #ffcc33;
}

h2.block-title, .node h2 {
background: #5984c3;
color:#fff;
font-size:14px;
padding-left:12px;
}

div#sidebar-second, div#sidebar-first {
width:20%;
}
div#content-group, div#main-group{
width:80%;
}

.node.node-news.clearfix{
clear:left;
}
#block-block-1,#block-block-2{
width:100%;
overflow:hidden;
height:auto;
}
.main-news{
}
.main-news:first-child{
margin-left:none;
}
#block-views-frontpage-block_1{
width:100%;
overflow:hidden;
height:auto;

}
#block-views-main-page-news-block{
clear:left;
}
#block-views-main-page-news-block div.view-content{
float:left;
width:49%;
}
#block-views-main-page-news-block div.view-footer  div.view-content{
float:right;
}
#block-views-main-page-news-block div.view-footer  div.view-content h2{
color:#006090;
font-size:12px;
background:#fff;
}

#footer {
	font: italic 9px Verdana;
	border-top: 1px solid black;
	text-align: center;
	padding: 6px 0px;
}

.greenButton {
	width: 232px;
	height: 50px;
}

#greenButtonDownload {
	background: url('../images/button_download.jpg') no-repeat;
}
#greenButtonDownload:hover {
        background-image: url('../images/button_download_m.jpg');
}

#greenButtonDonate {
	background: url('../images/button_donate.jpg') no-repeat;
}
#greenButtonDonate:hover {
        background-image: url('../images/button_donate_m.jpg');
}

#greenButtonCompat {
	background: url('../images/button_comp_home.jpg') no-repeat;
}
#greenButtonCompat:hover {
        background-image: url('../images/button_comp_home_m.jpg');
}


#greenButtons a {
	font-size: 16px;
	color: #367D10;
	height: 41px;
	width: 185px;
	display: block;
	padding-top: 8px;
	padding-left: 50px;
	text-align: center;
	font: normal 16px Verdana;
	font-weight: 700;
	line-height: 28px;
}

#greenButtons a:hover {
color:#3A935B;
}

/* BELOW ARE CONTENTS OF THE REACTOS-STYLE.CSS FROM /SITES/DEFAULT/ */



#main { margin:0 .4em; }
.region-sidebar-first {
	margin-right: 0px;
	width: 147px;
	margin: 0px 10px 10px 7px;
}
.region-sidebar-first .section {
	margin: 0px;
}
.region-sidebar-first .block-menu .content ul {
  margin:0;
  padding:0;
  list-style-type:none;
  background-color:#eeeeee;
  border-top:#3f3849 0 solid;
  border-right:#3f3849 1px solid;
  border-left:#3f3849 1px solid;
}
.region-sidebar-first .block-menu .content ul li {
  font-size:13px;
  font-weight:bold;
  border-bottom:#3f3849 1px solid;
}
.region-sidebar-first .block-menu .content ul li ul {
  border-left:none;
  border-right:none;
}
.region-sidebar-first .block-menu .content ul li ul li {
  border-bottom:none;
  border-top:#3f3849 1px solid;
}
.region-sidebar-first .block-menu .content ul li ul li a {
  padding-left:10px;
  background-color:#cdcdcd;
  color:#2f2839;
}
.region-sidebar-first .block-menu .content ul li a {
  display:block;
  font-size:12px;
  padding:2px 4px 2px 4px;
  color:#3f3849;
  text-decoration:none;
  background-color:#eeeeee;
}
.region-sidebar-first .block-menu .content ul li a:hover {
  color:black;
  background-color:#ffcc33;
}
.region-sidebar-first .block-search .content {
  background-color:#eeeeee;
  border:#3f3849 1px solid;
  border-top:none;
}

.region-sidebar-second {
	width: 270px;
	margin-left: 0px;
	margin: 0px 3px 0px 10px;
}

.region-sidebar-second .section {
	margin: 0px;
}



#block-system-main-menu ul.menu {
  list-style-type:none;
  text-align:center;
  margin:0;
  padding:0;
  line-height:normal;
}
#block-system-main-menu ul.menu li {
  display:inline-block;
  margin:0;
  padding:0;
  padding:0 3px;
  border-left:#ffffff 1px solid;
  line-height:normal;
}

h2.block-title, .node h2, h2.pane-title {
  background:#5984c3;
  color:#ffffff;
  font-size:14px;
  padding-left:12px;
}
div#sidebar-second, div#sidebar-first { width:20%; }
div#content-group, div#main-group { width:80%; }
.node.node-news.clearfix { clear:left; }
#block-block-1, #block-block-2 {
  width:100%;
  overflow:hidden;
  height:auto;
}
.main-news:first-child { margin-left:none; }
#block-views-frontpage-block_1 {
  width:100%;
  overflow:hidden;
  height:auto;
}
#block-views-main-page-news-block { clear:left; }
#block-views-main-page-news-block div.view-content {
  float:left;
  width:49%;
}
#block-views-main-page-news-block div.view-footer  div.view-content { float:right; }
#block-views-main-page-news-block div.view-footer  div.view-content h2 {
  color:#006090;
  font-size:12px;
  background:#ffffff;
}
img.icon, p.icon_p img {
  height:48px;
  width:48px;
  float:left;
  margin:11px 10px 5px 10px;
  border:0;
}
.view-Newsletter .view-header p {
  margin:0;
  color:#666666;
}
.view-Newsletter .views-field-title { font-weight:bold; }
.view-News .views-row {
  color:#666666;
  font-weight:bold;
}

/* user-register-form */

#user-register-form {
	background-color: #E1EAFB;
	text-align: center;
	width: 350px;
	padding: 10px;
}
#user-register-form input[type="text"], #user-register-form input[type="password"] {
	background-color: #FFFADB;
	border: 1px solid #CBB945;
	color: #776B1B;
	padding: 3px 7px;
	width: 200px;
}
#user-register-form label {
	color: #817A71;
}

/* user-login */

#user-login {
	background-color: #E1EAFB;
	text-align: center;
	width: 350px;
	padding: 10px;
}
#user-login input[type="text"], #user-login input[type="password"] {
	background-color: #FFFADB;
	border: 1px solid #CBB945;
	color: #776B1B;
	padding: 3px 7px;
	width: 200px;
}
#user-login label {
	color: #817A71;
}

/* user-pass */

#user-pass {
	background-color: #E1EAFB;
	text-align: center;
	width: 350px;
	padding: 10px;
}
#user-pass input[type="text"], #user-pass input[type="password"] {
	background-color: #FFFADB;
	border: 1px solid #CBB945;
	color: #776B1B;
	padding: 3px 7px;
	width: 200px;
}
#user-pass label {
	color: #817A71;
}




#header{
	height: 102px;
	background: url('/sites/all/themes/zen_reactos/images/topgradient.png');
}

#logo {
	position: relative;
	left: 43px;
	top: 3px;
	z-index: 100;
}

#topMenu {
	background-color: #5984C3;
	font-size: 13px;
	color: #fff;
}

#topMenu > div {
	margin-left: 300px;
}

#topMenu a {
	color: #fff;
	text-decoration: none;
	padding: 1px 5px;
	font-size: 13px;
}

#topMenu a:hover {
	background-color: #ffcc33;
	color: #000;
}

#content {
	float: none;
	margin: 0px;
}

#content .section {
	padding-left: 0px !important;
	padding-right: 0px !important;
}
