body {
font-size:10px;
font-family:sans-serif;
color:#3a3a3a;
background-color:#eee;
background:url(./body_bg.png) repeat-x;
direction:ltr;
unicode-bidi:embed;
margin:0;
padding:0;
}

#mw_header {
position:absolute;
top:0;
left:0;
border:none;
height:130px;
width:100%;
background:url(./reactos-logo.png) no-repeat transparent;
color:#FFF;
margin:0;
padding:0;
}

#reactos_bar {
position:absolute;
top:131px;
background-color:#5984C3;
height:20px;
right:0;
left:0;
font-size:1.3em;
cursor:default;
padding-top:2px;
padding-bottom:0;
padding-left:250px;
box-shadow:0 0 2px #656565;
}

#reactos_bar a {
color:#fff;
margin-left:10px;
overflow:hidden;
padding:2px;
}

#reactos_bar a:hover {
text-decoration:none;
background-color:#FC3;
text-shadow:#3A3A3A 1px 1px 3px;
}

#firstHeading {
text-decoration:none;
font-size:150%;
color:#3A3A3A;
margin:0;
padding:0;
}

#p-personal {
position:absolute;
top:157px;
left:0;
height:1.5em;
width:100%;
font-size: 1em !important;
margin:0;
padding:0;
}

#p-personal div.pBody {
height:1.5em;
text-align:center;
margin:0;
padding:0;
}

#p-personal ul {
display:block;
height:1.4em;
background-color:#77A3E6;
border:1px solid #186BE6;
margin:0 0 2px;
padding:0;
}

#p-personal li {
display:block;
float:left;
height:1.5em;
vertical-align:middle;
text-transform:lowercase;
margin:0;
}

#p-personal li a {
text-decoration:none;
color:#FFF;
padding:0 1em;
}

#p-personal li:hover {
background-color:#004284;
}

#mw_contentwrapper {
width:100%;
float:right;
margin:0 0 0 -15em;
}

#mw_content {
background-color:#FFF;
border-top:solid 1px #bbb;
border-left:solid 1px #bbb;
border-bottom:solid 1px #bbb;
line-height:1.5em;
box-shadow:3px 3px 20px grey;
margin:0 20px 0 15em;
padding:1em;
}

#mw_portlets {
width:14em;
border-right:solid 2px #bbb;
border-bottom:solid 2px #bbb;
border-radius:5px;
background-color:#eee;
margin-top:5px;
padding-top:1px;
}

#mw_main {
margin:180px 0 0;
padding:0;
}

div.mw_clear {
clear:both;
margin:0;
padding:0;
}

.portlet div.pBody {
padding:0 0 .5em;
}

textarea {
width:100%;
padding:.1em;
}

#searchInput {
width:85%;
margin-left:auto;
margin-right:auto;
}

#p-search #searchform div div {
margin-top:.4em;
}

.portlet h5 {
background-color:#5984C3;
color:#fff;
font-size:1.1em;
font-weight:700;
border-bottom:solid 2px #3A72AA;
height:1em;
border-radius:2px 2px 0 0;
margin:3px 0 0;
padding:.2em 0 .3em 1em;
}

.portlet a {
color:#323232;
font-weight:700;
}

.portlet ul {
margin:0 0 0 1.5em;
padding:0;
}

.portlet li:hover {
background-color:#FC3;
}

.portlet a:hover {
text-decoration:none;
}

#mw_portlets .portlet ul {
line-height:1.4em;
}

ul {
line-height:1.5em;
list-style-type:square;
list-style-image:url(bullet.gif);
margin:.3em 0 0 1.5em;
padding:0;
}

#p-cactions {
height:1.5em;
border-bottom:2px solid #bbb;
margin:0 0 7px 15em;
padding:.3em 0 0;
}

#p-cactions a,#p-cactions a:hover {
color:#000;
text-decoration:none!important;
font-weight:400!important;
}

#p-cactions ul {
display:inline;
margin:0;
padding:0;
}

#p-cactions li {
display:block;
float:left;
height:1.5em;
margin:0 .5em 0 0;
padding:0 1em;
}

#p-cactions li a,#p-cactions li a:hover,#p-cactions li a:visited {
text-decoration:none;
color:#036;
}

#p-cactions li.selected a,#p-cactions li.selected a:hover,#p-cactions li.selected a:visited {
text-decoration:none;
color:#fff;
text-shadow:#575757 1px 1px 4px;
}

#siteSub {
display:none;
background-color:#ddd;
}

#footer {
background-color:#eee;
box-shadow:0 0 3px gray inset;
clear:both;
color:#444;
margin-top:10px;
text-align:center;
padding:2px 1em 1em;
}

#footer img {
margin-top:10px;
}

#footer a,#footer a:hover,#footer a:visited {
color:#444;
text-decoration:underline;
}

img {
border:none;
}

#footer li {
display:inline;
list-style-type:none;
margin:0 0 0 15px;
padding:0;
}

p {
margin:1em 0;
}

hr {
height:1px;
color:#aaa;
background-color:#aaa;
border:0;
margin:.2em 0;
}

#contentSub {
color:#888;
font-size:small;
}

a {
text-decoration:none;
color:#036;
background:none;
}

a:visited {
color:#00376D;
}

a:active {
color:#faa700;
}

a:hover {
text-decoration:underline;
}

a.stub {
color:#723;
}

a.new {
color:#ba0000;
}

a.new:visited {
color:#a55858;
}

.selected a.new {
color:#fff!important;
font-style:italic;
}

span.editsection {
font-size:small;
}



#preftoc {
width:100%;
height:1.5em;
clear:right;
margin:0;
padding:0;
}

#preftoc li {
display:block;
float:left;
height:1.5em;
text-transform:lowercase;
margin:0 .5em;
padding:0 .2em;
}

#preferences {
border:solid 1px #bbb;
clear:left;
margin:0;
padding:0 1em 1em;
}

#preferences fieldset {
margin-top:0;
border:none;
}

.htmlform-tip {
font-size:x-small;
color:#666;
padding:.2em 2em;
}

#preftoc li a,#preftoc li a:hover,#preftoc li a:visited {
text-decoration:underline;
color:#036;
}

#mw-pref-clear {
clear:both;
}

#mw_content a.external,#mw_content a.external[href ^="gopher://"] {
background:url(external.png) center right no-repeat;
padding-right:13px;
}

#mw_content a.external[href ^="https://"],.link-https {
background:url(lock_icon.gif) center right no-repeat;
padding-right:16px;
}

#mw_content a.external[href ^="mailto:"],.link-mailto {
background:url(mail_icon.gif) center right no-repeat;
padding-right:18px;
}

#mw_content a.external[href ^="news://"] {
background:url(news_icon.png) center right no-repeat;
padding-right:18px;
}

#mw_content a.external[href ^="ftp://"],.link-ftp {
background:url(file_icon.gif) center right no-repeat;
padding-right:18px;
}

#mw_content a.external[href ^="irc://"],#mw_content a.external[href ^="ircs://"],.link-irc {
background:url(discussionitem_icon.gif) center right no-repeat;
padding-right:18px;
}

#mw_content a.external[href $=".ogg"],#mw_content a.external[href $=".OGG"],#mw_content a.external[href $=".mid"],#mw_content a.external[href $=".MID"],#mw_content a.external[href $=".midi"],#mw_content a.external[href $=".MIDI"],#mw_content a.external[href $=".mp3"],#mw_content a.external[href $=".MP3"],#mw_content a.external[href $=".wav"],#mw_content a.external[href $=".WAV"],#mw_content a.external[href $=".wma"],#mw_content a.external[href $=".WMA"],.link-audio {
background:url(audio.png) center right no-repeat;
padding-right:13px;
}

#mw_content a.external[href $=".ogm"],#mw_content a.external[href $=".OGM"],#mw_content a.external[href $=".avi"],#mw_content a.external[href $=".AVI"],#mw_content a.external[href $=".mpeg"],#mw_content a.external[href $=".MPEG"],#mw_content a.external[href $=".mpg"],#mw_content a.external[href $=".MPG"],.link-video {
background:url(video.png) center right no-repeat;
padding-right:13px;
}

#mw_content a.external[href $=".pdf"],#mw_content a.external[href $=".PDF"],#mw_content a.external[href *=".pdf#"],#mw_content a.external[href *=".PDF#"],#mw_content a.external[href *=".pdf?"],#mw_content a.external[href *=".PDF?"],.link-document {
background:url(document.png) center right no-repeat;
padding-right:12px;
}

div.floatright,table.floatright {
border:0;
margin:0 0 .5em .5em;
}

div.floatleft,table.floatleft {
border:0;
margin:0 .5em .5em 0;
}

div.thumb {
margin-bottom:.5em;
width:auto;
}

div.thumbinner {
border:1px solid #ccc;
background-color:#f9f9f9;
font-size:94%;
text-align:center;
overflow:hidden;
padding:3px!important;
}

html .thumbimage {
border:1px solid #ccc;
}

html .thumbcaption {
border:none;
text-align:left;
line-height:1.4em;
font-size:94%;
padding:3px!important;
}

div.magnify {
float:right;
border:none!important;
background:none!important;
}

div.magnify a,div.magnify img {
display:block;
border:none!important;
background:none!important;
}

div.tright {
margin:.5em 0 .8em 1.4em;
}

div.tleft {
margin:.5em 1.4em .8em 0;
}

img.thumbborder {
border:1px solid #ddd;
}

.mw-warning {
border:1px solid #aaa;
background-color:#f9f9f9;
font-size:95%;
margin-left:50px;
margin-right:50px;
text-align:center;
padding:5px;
}

#toc,.toc {
border-spacing:0;
background-color:#eee;
border:solid 1px #bbb;
margin:0;
padding:0;
}

#toctitle {
border-bottom:solid 1px #3c78b5;
background-color:#ddd;
margin:0;
}

#toc h2,.toc h2 {
display:inline;
border:none;
font-size:100%;
font-weight:700;
padding:0;
}

#toc ul,.toc ul {
list-style-type:none;
list-style-image:none;
text-align:left;
margin:0 1em;
padding:0;
}

#toc ul ul,.toc ul ul {
margin:0 0 0 2em;
}

#toc .toctoggle,.toc .toctoggle {
font-size:94%;
}

.catlinks {
border:solid 1px #bbb;
background-color:#eee;
margin:0;
padding:.1em .3em;
}

.redirectText {
font-size:150%;
margin:5px;
}

span.updatedmarker {
color:#000;
background-color:#0f0;
}

.previewnote {
text-indent:3em;
color:#c00;
border-bottom:1px solid #aaa;
padding-bottom:1em;
margin-bottom:1em;
}

.editExternally {
border:1px solid gray;
background-color:#fff;
margin-top:.5em;
float:left;
font-size:small;
text-align:center;
padding:3px;
}

.editExternallyHelp {
font-style:italic;
color:gray;
}

.toggle {
margin-left:2em;
text-indent:-2em;
}

input#wpSummary {
width:80%;
}

input#wpSave,input#wpDiff {
margin-right:.33em;
}

div.noarticletext {
border:1px solid #ccc;
background:#fff;
color:#000;
padding:.2em 1em;
}

div#searchTargetContainer {
left:10px;
top:10px;
width:90%;
background:#FFF;
}

div#searchTarget {
background:#eee;
border:solid 1px blue;
margin:5px;
padding:3px;
}

div#searchTarget ul li {
list-style:none;
}

div#searchTarget ul li:before {
color:orange;
content:"\00BB \0020";
}

div#searchTargetHide {
float:right;
border:solid 1px #000;
background:#DCDCDC;
padding:2px;
}

div.multipageimagenavbox {
border:solid 1px silver;
background:#eee;
margin:1em;
padding:4px;
}

div.multipageimagenavbox div.thumb {
border:none;
margin-left:2em;
margin-right:2em;
}

div.multipageimagenavbox hr {
margin:6px;
}

.templatesUsed {
margin-top:1.5em;
}

.mw-summary-preview {
margin:.1em 0;
}

div.mw-lag-warn-normal,div.mw-lag-warn-high {
text-align:center;
margin:3px auto;
padding:3px;
}

div.mw-lag-warn-normal {
border:1px solid #FC6;
background-color:#FFC;
}

div.mw-lag-warn-high {
font-weight:700;
border:2px solid #F03;
background-color:#FCC;
}

.MediaTransformError {
background-color:#ccc;
padding:.1em;
}

.MediaTransformError td {
text-align:center;
vertical-align:middle;
font-size:90%;
}

ol {
line-height:1.5em;
list-style-image:none;
margin:.3em 0 0 3.2em;
padding:0;
}

li {
margin-bottom:.1em;
}

dt {
font-weight:700;
margin-bottom:.1em;
}

dl {
margin-top:.2em;
margin-bottom:.5em;
}

span.subpages {
font-size:80%;
display:block;
}

pre {
border:solid 1px #3c78b5;
background-color:#eee;
padding:.4em;
}
h2{font-size: 1.1em}
.usermessage {
background-color:#dadaff;
}

.mw-topboxes {
border-collapse:collapse;
margin:0 -1em 1em;
padding:0 0 8px;
}

.mw-topbox {
color:#000;
font-weight:700;
vertical-align:middle;
border-collapse:collapse;
border-bottom:solid 1px #bbb;
margin:0;
padding:0 1em;
}

.center {
width:100%;
text-align:center;
}

.center * {
margin-left:auto;
margin-right:auto;
}

.toccolours {
border:1px solid #bbb;
background-color:#eee;
border-spacing:0;
margin:0;
padding:0;
}

fieldset {
padding:10px;
}

html > body.rtl div#mw_contentholder ul {
display:table;
}

html > body.rtl div#mw_contentholder ul#filetoc {
display:block;
}

*,#p-cactions div.pBody,#mw_portlets form,#toc tr,#toc td,.previewnote p {
margin:0;
padding:0;
}

#mw_main,#p-personal,#mw_header,.os-suggest,.tipsy {
font-size:130%;
}

#p-personal h5,#jump-to-nav,#p-cactions h5,div.printfooter,.mainLegend,.printfooter,table.collapsed tr.collapsable {
display:none;
}

#p-personal li a:hover,#preftoc li.selected a,#preftoc li.selected a:hover,#preftoc li.selected a:visited {
text-decoration:none;
color:#FFF;
}

.portlet,#footer ul,.mw-topbox p {
margin:0;
padding:0;
}

#searchBody,#toc #toctitle,.toc #toctitle,#toc .toctitle,.toc .toctitle,table.multipageimage td {
text-align:center;
}

#p-cactions li.selected,#preftoc li.selected {
background-color:#bbb;
}

h1,h2,h3,h4,h5,h6,#mw_header h1,#p-personal,#p-cactions {
overflow:hidden;
}

.prefsection legend,#wpSave {
font-weight:700;
}

div.floatright p,div.floatleft p,.sharedUploadNotice,#p-cactions li.new a {
font-style:italic;
}

#mw_content a.extiw,#mw_content a.extiw:active,#mw_content a.external {
color:#36b;
}