@import url("/rosweb/css/basic.css");

#page-wrapper {
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin: 0 0 1em 0;
    padding: 0;
}
 #page-wrapper a {
     font-size: 13px;
     color: #006090;
 }
#block-views-random-screenshot-block > div > .view-random-screenshot { display: none !important }
#block-system-main-menu ul.menu {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    line-height: normal;
}
 #block-system-main-menu ul.menu li {
     display: inline-block;
     margin: 0;
     padding: 0;
     border-left: #fff 1px solid;
     padding: 0 3px;
     line-height: normal;
 }
.block { margin-bottom: 35px }
#block-system-main-menu ul.menu li:first-child { border-left: none }
#block-system-main-menu ul.menu li a {
    font-size: 13px;
    color: white;
    text-decoration: none;
    padding: 1px 5px 1px 5px;
}
#block-system-main-menu ul.menu li a:hover {
    color: black;
    background-color: #ffcc33;
}
/* this is the wrapper for the 'New here?' block */
#block-block-4 { margin-bottom: 10px }
#new_here {
    margin: 0;
    padding: 5px;
    background: url(../images/new_here.png) no-repeat #f8f8f8;
    background-position: 5px center;
    padding-left: 35px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
 #new_here a {color: #555;}
.node.node-news.clearfix { clear: left }
div#content-group, div#main-group { width: 80% }
#block-quicktabs-reactos-news > .content {
    margin: 15px 3px 0 0;
    width: auto;
}
#block-quicktabs-reactos-news .content * { background-image: none !important }
#block-quicktabs-reactos-news 
.view-content { box-shadow: 2px 3px 2px #eee }
.ui-tabs .ui-tabs-nav { padding: 0 }
.ui-widget-header {
    border-color: #ccc;
    background-color: #fff;
    border-width: 0 0 1px 0;
    border-radius: 0;
}
.ui-corner-top { border-radius: 3px 3px 0 0 !important }
.ui-widget-content { border: 0 }
.ui-tabs .ui-tabs-panel { padding: 0 }
.ui-tabs .ui-tabs-nav li a { padding: 4px 20px !important }
.view-content>div:nth-child(even) { background-color: #f5f5f5 }
.view-content>div {
    padding: 7px 10px;
    border: 1px solid #ccc;
    border-bottom: 0;
}
.view-content>div:last-child { border-bottom: 1px solid #ccc }
.view-content>div:first-child { border-top: 0 }
#block-views-reactossvn-block  span { color: #000 !important }
#block-views-reactossvn-block  .field-content ul { color: #888 !important }
.view-footer a {
    color: #888 !important;
    font-size: 13px !important;
    text-decoration: none;
    margin: 15px 0 0 10px;
    display: block;
    font-weight: bold;
}
#search-block-form div.container-inline { padding: 1px 0 1px 3px }
#search-block-form .form-item-search-block-form { width: 100px }
 #search-block-form .form-item-search-block-form input.form-text { width: 100px }

.greenButton {
    margin: 20px 3px 0 3px;
}
#greenButtonDownload:before{background:url(../images/frontpage_sprite.png) no-repeat;background-position:0 -82px!important;content:" ";display:block;float:left;height:32px;margin-left:-40px;margin-top:-6px;width:32px;}
#greenButtonDonate:before{background:url(../images/frontpage_sprite.png) no-repeat;background-position:0 -236px!important;content:" ";display:block;float:left;height:32px;margin-left:-40px;margin-top:-6px;width:32px;}
#greenButtonCompat:before{background:url(../images/frontpage_sprite.png) no-repeat;background-position:0 0!important;content:" ";display:block;float:left;height:32px;margin-left:-40px;margin-top:-6px;width:32px;}

#greenButtons a {
	background-color: #A2E274;
	border: 1px solid #60925F;
	border-radius: 3px;
	color: #006090;
	display: block;
	font-size: 18px;
	padding: 13px 13px 13px 42px;
	text-decoration: none!important;
	width: auto;
	background-color: #A2E274;
	background: -moz-linear-gradient(top,#A2E274 0%,#84DD40 100%);
	background: -webkit-linear-gradient(top,#A2E274 0%,#84DD40 100%);
	background: -ms-linear-gradient(top,#A2E274 0%,#84DD40 100%);
	background: linear-gradient(to bottom,#A2E274 0%,#84DD40 100%);
	text-shadow: 0 0 5px rgba(255,255,255,0.7);
}
#greenButtons a:hover {
    border: 1px solid #97E060;
    text-shadow: 0 0 3px #fff;
}
#main { margin: 0 .4em }
#page .region-sidebar-first {
    margin-right: 0;
    width: 147px;
    margin: 0px 10px 10px 7px;
}
 #page .region-sidebar-first .section { margin: 0px }
  #page .region-sidebar-first .block-menu .content ul *{
 	  list-style-type: none !important;
	  list-style-image: none !important;
 }
 #page .region-sidebar-first .block-menu .content ul {
     margin: 0;
     padding: 0;
     background-color: #f5f5f5;
     border-right: #ccc 1px solid;
     border-left: #ccc 1px solid;
 }
  #page .region-sidebar-first .block-menu .content ul li {
      font-size: 13px;
      font-weight: bold;
      border-bottom: #ccc 1px solid;
  }
   #page .region-sidebar-first .block-menu .content ul li ul {
       border-left: none;
       border-right: none;
   }
   #page .region-sidebar-first .block-menu .content ul li ul li {
       border-bottom: none;
       border-top: #ccc 1px solid;
   }
   #page .region-sidebar-first .block-menu .content ul li ul li a {
       padding-left: 14px;
   }
   #page .region-sidebar-first .block-menu .content ul li a {
       display: block;
       font-size: 12px;
       padding: 4px 4px 4px 4px;
       color: #3f3849;
       text-decoration: none;
   }
   #page .region-sidebar-first .block-menu .content ul li a:hover {
       color: black;
       background-color: #ffcc33;
   }
 #page .region-sidebar-first .block-search .content {
     background-color: #f5f5f5;
     border: #ccc 1px solid;
     border-top: none;
 }
.content p, .content ul, .content ol {
    line-height: 25px;
    text-align: justify;
    padding-right: 20px;
    padding-left: 10px;
}
.content ul, .content ol {
    margin-left: 20px;
    padding-right: 1px !important;
}
.region-sidebar-second {
    width: 270px;
    margin: 0px 3px 0px 10px;
}
 .region-sidebar-second .section { margin: 0 }
img.icon, p.icon_p img {
    height: 48px;
    width: 48px;
    float: left;
    margin: 11px 10px 5px 10px;
    border: 0;
}
.views-field-title a { text-decoration: none !important }
.view-content span {
    font-size: 11px;
    color: #888;
}
#block-views-random-screenshot-block { text-align: center }
#user-register-form, #user-login, #user-pass {
    background-color: #E1EAFB;
    width: 700px;
    padding: 30px;
}
 #user-register-form .description, #user-login .description, #user-pass .description {
     margin: 3px;
     width: 380px;
 }
 #user-register-form input[type="text"], #user-register-form input[type="password"], #user-login input[type="text"], #user-login input[type="password"], #user-pass input[type="text"], #user-pass input[type="password"] { width: 350px }
 #user-register-form label, #user-login label, #user-pass label { padding: 5px }

#main-wrapper {
    top: 110px;
    z-index: 2;
}
#content {
    float: none;
    margin: 0;
}
#content p, #content li, #content a{
    font-size: 13px;
}
 #content .section {
     padding-left: 10px !important;
     padding-right: 0px !important;
     border: 0;
     border-left: 1px dotted #ccc;
 }
.submitted {
    color: #AAAAAA;
    margin: 5px 5px 5px 2px;
}
#main-links-right img {
    vertical-align: middle;
    margin-right: 5px;
}
#main-links-right a {
    display: inline-block;
    margin: 5px 0;
}
.dtable { display: table }
.w100 { width: 100% }
.dtrow { display: table-row }
.dtcell { display: table-cell }
.dtcell-vtop { vertical-align: top }
.vmiddle { vertical-align: middle }
#edit-name, #edit-pass {
    width: 135px;
    margin-left: 4px;
}
#block-user-login {
    background-color: #f8f8f8;
    border: 0;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #eee;
    border-left: 1px solid #eee;
    margin-top: 0 !important;
    border-radius: 2px 2px 0 0;
}
 #block-user-login ul {
     list-style-type: none;
     padding: 0;
     margin: 0;
 }
 #block-user-login li a {
     font-size: 11px !important;
     text-decoration: none;
     color: #888;
 }
 #block-user-login li { margin: 2px 5px }
 #block-user-login label {
     margin-left: 3px;
     padding: 3px;
     font-size: 1.1em;
 }
 #block-user-login input[type=submit] {
     width: 135px;
     margin: auto;
     margin-top: 5px;
 }
.language-switcher-locale-url a, #new_here a { text-decoration: none !important }
.language-switcher-locale-url a.active { font-weight: bold }
.language-switcher-locale-url li {
    list-style-type: none;
    opacity: 0.6;
    padding: 1px;
}
.language-switcher-locale-url li:hover { opacity: 1 }
.language-switcher-locale-url {
    line-height: 17px !important;
    margin-left: 10px !important;
}
#block-views-random-screenshot-block a { color: #707070 !important }
#block-views-random-screenshot-block .content {
    box-shadow: 0 0 10px #bbb;
    padding: 2px;
    padding-top: 10px;
    margin-right: 5px;
}
h3 .comment-title a { color: #808080 }
.comment-title a {
    color: #808080 !important;
    text-decoration: none;
    display: block;
    background-color: #f1f1f1;
    padding: 2px;
    padding-left: 10px;
}
.submitted > .permalink { display: none }
.comment_forbidden, .comment_forbidden a { font-size: 10px !important }
.user-picture img {
    width: 65px;
    position: absolute;
}
.user-picture + .comment-title, .user-picture + .comment-title + .submitted { padding-left: 70px }
.comment .submitted {
    margin-left: 9px;
    font-style: italic;
}
.comment .content { padding-left: 70px }
.finicon {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    background-image: url('../images/frontpage_sprite.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    text-indent: -9999px;
    margin: 0 15px 15px 0;
}
#finblock {
    text-align: center;
    margin-top: 15px;
}

.finBBC{background-position:-35px -56px;width:72px;height:21px;}
.finTC{background-position:-35px 0;width:82px;height:15px;}
.finSD{background-position:-35px -19px;width:87px;height:16px;}
.finDS{background-position:-34px -39px;width:72px;height:14px;}
.finZD{background-position:-35px -81px;width:59px;height:38px;}
.finCW{background-position:-34px -125px;width:118px;height:19px;}
.finASS{background-position:-35px -150px;width:105px;height:35px;}

.ros-list {
    list-style-type: none;
    padding: 10px;
    background-color: #f5f5f5;
    margin-right: 10px;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}
 .ros-list li { padding: 5px }
 .ros-list li:nth-child(odd) { background-color: #fafafa }

.sprite-blog:before{background:url(../images/icons_sprite.png) no-repeat top left;background-position:0 0;width:48px;height:48px;content:" ";display:block;float:left;padding-right:7px;}
.sprite-chat:before{background:url(../images/icons_sprite.png) no-repeat top left;background-position:-96px 0;width:48px;height:48px;content:" ";display:block;float:left;padding-right:7px;}
.sprite-cmd:before{background:url(../images/icons_sprite.png) no-repeat top left;background-position:-192px 0;width:48px;height:48px;content:" ";display:block;float:left;padding-right:7px;}
.sprite-dev:before{background:url(../images/icons_sprite.png) no-repeat top left;background-position:-288px 0;width:48px;height:48px;content:" ";display:block;float:left;padding-right:7px;}
.sprite-forums:before{background:url(../images/icons_sprite.png) no-repeat top left;background-position:-384px 0;width:48px;height:48px;content:" ";display:block;float:left;padding-right:7px;}
.sprite-help:before{background:url(../images/icons_sprite.png) no-repeat top left;background-position:-480px 0;width:48px;height:48px;content:" ";display:block;float:left;padding-right:7px;}
.sprite-mail:before{background:url(../images/icons_sprite.png) no-repeat top left;background-position:-576px 0;width:48px;height:48px;content:" ";display:block;float:left;padding-right:7px;}
.sprite-news:before{background:url(../images/icons_sprite.png) no-repeat top left;background-position:-672px 0;width:48px;height:48px;content:" ";display:block;float:left;padding-right:7px;}
.sprite-person:before{background:url(../images/icons_sprite.png) no-repeat top left;background-position:-768px 0;width:48px;height:48px;content:" ";display:block;float:left;padding-right:7px;}
.sprite-translate:before{background:url(../images/icons_sprite.png) no-repeat top left;background-position:-864px 0;width:48px;height:48px;content:" ";display:block;float:left;padding-right:7px;}
.sprite-wiki:before{background:url(../images/icons_sprite.png) no-repeat top left;background-position:-960px 0;width:48px;height:48px;content:" ";display:block;float:left;padding-right:7px;}

ul.community-list {
    list-style: none;
    width: 720px;
    margin: 0px 0px;
}
 ul.community-list li {
     width: 325px;
     float: left;
     margin: 0 15px 15px 0;
 }
  ul.community-list li p { margin: 0 0 0 55px }
li.active { opacity: 1 !important }
.block-phpbbforum .content { padding: 10px }
.views-view-grid td { padding: 30px }
#bsod {
    background: #000099;
    color: white;
    font-family: Lucida Console;
    font-size: 10pt;
    margin-left: 25px;
}
ul.links.inline { display: block }
ul.links li { padding: 0 1em 0 0 }
.item-list .pager { padding: 0 }
 .item-list .pager li { padding: 0 .5em }
.node-unpublished div.unpublished, .comment-unpublished div.unpublished {
    height: 0;
    overflow: visible;
    color: #d8d8d8;
    font-size: 75px;
    line-height: 1;
    font-family: Impact, "Arial Narrow", Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word;
}


/* for more languages see http://flag-sprites.com/en_US/ */

li.zh-hans:before,li.de:before,li.fr:before,li.en:before,li.el:before,li.it:before,li.ja:before,li.ko:before,li.lt:before,li.nl:before,li.es:before,li.pl:before,li.ru:before,li.sv:before,li.zh-hant:before{background:url(../images/flags.png) no-repeat;content:" ";width:16px;height:11px;display:inline-block;margin-right:12px;}
li.zh-hans:before{background-position:-16px 0;}
li.de:before{background-position:-32px 0;}
li.es:before{background-position:-48px 0;}
li.fr:before{background-position:0 -11px;}
li.en:before{background-position:-16px -11px;}
li.el:before{background-position:-32px -11px}
li.it:before{background-position:-48px -11px;}
li.ja:before{background-position:0 -22px}
li.ko:before{background-position:-16px -22px}
li.lt:before{background-position: -32px -22px}
li.nl:before{background-position:-48px -22px}
li.pl:before{background-position:0 -33px}
li.ru:before{background-position:-16px -33px}
li.sv:before{background-position:-32px -33px}
li.zh-hant:before{background-position:-48px -33px}

.datatable { width: 100% }
 .datatable .head th {
     background: #5984c3;
     background: -moz-linear-gradient(top, #5D87C1 0%, #4175BF 100%) #5984c3;
     background: -webkit-linear-gradient(top, #5D87C1 0%, #4175BF 100%) #5984c3;
     background: linear-gradient(to bottom, #5D87C1 0%, #4175BF 100%) #5984c3;
     color: #fff;
     font-size: 13px;
     line-height: 18px;
     padding: 2px 4px 2px 12px;
 }
 .datatable .head th:first-child { border-radius: 2px 0 0 0 }
 .datatable .head th:last-child { border-radius: 0 2px 0 0 }
 .datatable tr { line-height: 24px }
  .datatable tr td {
      background-color: #fff;
      padding: 3px;
  }
 .datatable tr:nth-child(odd) td { background-color: #f5f5f5 }
 .datatable tbody tr:hover td { background-color: #FFFFCC }
 .datatable a {
     display: block;
     width: 100%;
     text-decoration: none;
 }

