/*
  PROJECT:    ReactOS Website
  LICENSE:    GNU GPLv2 or any later version as published by the Free Software Foundation
  PURPOSE:    Basic CSS file containing only very specific styles for header and footer elements.
              Useful for third-party subsystems like phpBB or MediaWiki that usually supply their own set of styles.
  COPYRIGHT:  Copyright 2015 Colin Finck <colin@reactos.org>
*/


#rosweb_header {
    background-image: url("/rosweb/images/topgradient.png");
    background-repeat: repeat-x;
    height: 80px;
    width: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
}

#rosweb_logo {
    float: left;
    margin: 3px 0 0 43px;
    padding: 0;
    height: 100px;
    width: auto;
}

#rosweb_topMenu {
    margin: 0;
    padding: 70px 0 0 0;
}

#rosweb_main-menu {
    color: #fff;
    font-size: 14px;
    padding: 3px 0 3px 300px;
    box-shadow: 0 5px 5px #ddd;
    background-color: #5984c3;
    background-image: -moz-linear-gradient(top, #6C95D2, #5984C3);
    background-image: -webkit-linear-gradient(top, #6C95D2, #5984C3);
    background-image: -ms-linear-gradient(top, #6C95D2, #5984C3);
    background-image: linear-gradient(top, #6C95D2, #5984C3);
    line-height: 16px;
    height: 16px;
    min-width: 800px;
}
 #rosweb_main-menu a {
     color: #fff !important;
     font-size: 14px !important;
     padding: 1px 12px;
     text-decoration: none;
     text-shadow: 1px 1px 1px rgba(0,0,0,.3);
     margin: 0;
     border-radius: 2px;
 }
 #rosweb_main-menu a:hover {
     background-color: #fc3;
     color: #333 !important;
     text-shadow: none;
 }

#rosweb_kickstarter {
    width: 400px;
    height: 45px;
    padding: 7px;
    position: absolute;
    margin-left: 320px;
    font-size: 17px;
}
#rosweb_kickstarter a {
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}
#rosweb_kickstarter img {
    margin-top: -20px;
    margin-left: -25px;
}

#rosweb_footer {
    font-size: 13px;
    border-top: 1px dotted #ccc;
    text-align: center;
    padding: 10px 0px;
    color: #888;
    margin-top: 150px;
}

