/*
  PROJECT:    ReactOS Website
  LICENSE:    GNU GPLv2 or any later version as published by the Free Software Foundation
  PURPOSE:    Includes the full set of styles used in our Drupal theme.
              Useful for our own subsystems that shall look just exactly like the other Drupal pages.
  COPYRIGHT:  Copyright 2015 Colin Finck <colin@reactos.org>
*/


/* Drupal system theme required for the sidebar */
@import url("/modules/system/system.theme.css");

/* The zen_reactos Drupal theme styles */
@import url("/sites/all/themes/zen_reactos/css/html-reset.css");
@import url("/sites/all/themes/zen_reactos/css/layout-liquid.css");
@import url("/sites/all/themes/zen_reactos/css/tabs.css");
@import url("/sites/all/themes/zen_reactos/css/reactos-style.css");
