h3, h4, h5 { color: #0088cc; }
a { color: #0088cc; }
a:hover { color: #0099e6; }
a:active { color: #0077b3; }
.btn-primary { border-color: #0088cc; background-color: #0088cc; }
.btn-primary:hover { background-color: #0099e6; }
