/*
  PROJECT:    ReactOS Web Test Manager
  LICENSE:    GNU GPLv2 or any later version as published by the Free Software Foundation
  PURPOSE:    Stylesheet for the Compare Page
  COPYRIGHT:  Copyright 2008-2016 Colin Finck <colin@reactos.org>
*/

html, body {
	height: auto;
}

body {
	padding: 10px;
}

.table > tbody > tr > td {
	vertical-align: middle;
}

#healthindicator_tooltip {
	background: #FFFFCC;
	border: solid 1px black;
	display: none;
	padding: 3px;
	position: absolute;
	width: 400px;
}

#healthindicator_tooltip .intro {
	margin-bottom: 1em;
}

#healthindicator_tooltip .box, #legend .box {
	border: solid 1px #ddd;
	height: 19px;
	width: 19px;
}

#healthindicator_tooltip .box {
	clear: left;
	float: left;
	margin: 3px;
}

#healthindicator_tooltip .desc {
	height: 23px;
	padding: 3px 0 0 30px;
}

#healthindicator_tooltip .outro {
	margin-top: 1em;
}

#legend {
	display: inline-block;
	height: 30px;
	margin-bottom: 1em;
	padding: 5px;
}

#legend div {
	float: left;
	height: 15px;
	margin-right: 5px;
}

#legend .intro {
	font-weight: bold;
}

#legend .intro, #legend .desc {
	margin-right: 20px;
}

.totaltests {
	background-color: #FFFFCC !important;
}

.performancetests {
	background-color: #FFFFCC !important;
}

.zero_failedtests, .better{
	background-color: #33FF66 !important;
}

.real_failedtests, .worse{
	background-color: #FF6666 !important;
}

.todo_failedtests {
	background-color: #33FF66 !important;
	border-width: 1px !important;
	border-style: dashed  !important;
	border-color: #A2A2A2 !important;
	height: 27px;
}

.skippedtests {
	background-color: #CCCCCC !important;
}

.crashedcanceledtests {
	background-color: black !important;
}

.diff_legend {
	background-color: #5A5A5A !important;
}

.diff {
	color: #5A5A5A;
}

#comparetable {
	width: auto;
}

#comparetable th {
	padding: 3px 8px 3px 3px;
	vertical-align: bottom;
}

#comparetable th.TestSuite {
	cursor: default;
	width: 200px;
}

#comparetable td#totals {
	font-weight: bold;
}

#comparetable td#summary {
	font-weight: bold;
}

#comparetable td.blacklisted {
	background: black;
	color: white;
}

#comparetable td, #comparetable td div.box, #comparetable td div.healthindicator {
	border-right: solid 1px #BBBBBB;
	border-bottom: solid 1px #BBBBBB;
	padding: 3px;
}

#comparetable td.clickable {
	cursor: pointer;
}

#comparetable td div {
	text-align: center;
}

#comparetable td div.box {
	color: black;
	float: left;
	width: 95px;
}

#comparetable td div.totaltests {
	font-weight: bold;
	width: 130px;
}

#comparetable td div.performancetests {
	font-weight: bold;
	width: 334px;
}

#comparetable td div.totals {
	width: 163.5px;
}

#comparetable td div.difference {
	width: 78px;
}

#comparetable td div.healthindicator {
	clear: left;
	padding-top: 10px;
}

#comparetable tr.separator {
	height: 10px;
}
