/*
  PROJECT:    ReactOS Web Test Manager
  LICENSE:    GNU GPLv2 or any later version as published by the Free Software Foundation
  PURPOSE:    Stylesheet for the Result Details Page
  COPYRIGHT:  Copyright 2008-2016 Colin Finck <colin@reactos.org>
*/

body {
	padding: 10px;
}

.table tr td:first-child {
	width: 200px;
}

.col {
	float: left;
	margin-right: 50px;
}

a, a:hover {
	color: blue;
}
