/*
  PROJECT:    ReactOS Web Test Manager
  LICENSE:    GNU GPLv2 or any later version as published by the Free Software Foundation
  PURPOSE:    Stylesheet for the Index Page
  COPYRIGHT:  Copyright 2008-2016 Colin Finck <colin@reactos.org>
*/

#ajax_loading_search {
	visibility: hidden;
}

#searchtable .row {
	line-height: 70px;
}

#resultcount, #selectedresultcount {
	font-weight: bold;
}

#resulttable {
	cursor: pointer;
}

#comparepage_frame {
	display: none;
	width: 100%;
}

.comboedit {
	position: relative;
}

.comboedit div {
	position: absolute;
	left: 0;
	right: 40px;
	top: 0;	
}

.comboedit div input {
	border-right: 0;
}
