/*  phpBB3 Style Sheet
    --------------------------------------------------------------
	Style name:			subsilver2
	Based on style:		subSilver (the default phpBB 2.0.x style)
	Original author:	Tom Beddard ( http://www.subblue.com/ )
	Modified by:		phpBB Group ( http://www.phpbb.com/ )
    --------------------------------------------------------------
*/

/* Layout
 ------------ */
#phpbbforum-page * {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
}

#phpbbforum-page html {
	font-size: 100%;
}

#phpbbforum-page body {
	/* Text-Sizing with ems: http://www.clagnut.com/blog/348/ */
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	color: #323D4F;
	background-color: #FFFFFF;
	font-size: 62.5%; /* This sets the default font size to be equivalent to 10px */
	margin: 0;
}

#phpbbforum-page #wrapheader {
  height: auto !important;
	padding: 0;
}

#phpbbforum-page #wrapcentre {
	margin: 15px 25px 0 25px;
}

#phpbbforum-page #wrapfooter {
	text-align: center;
	clear: both;
}

#phpbbforum-page #wrapnav {
	width: 100%;
	margin: 0;
	background-color: #ECECEC;
	border-width: 1px;
	border-style: solid;
	border-color: #A9B8C2;
}

#phpbbforum-page #logodesc {
	background-color: #C1CAD2;
	background-image: url('./images/background.gif');
	background-repeat: repeat-x;
	background-position: center bottom;
	padding: 0 25px 15px 25px;
}

#phpbbforum-page #menubar {
	margin: 0 25px;
}

#phpbbforum-page #datebar {
	margin: 10px 25px 0 25px;
}

#phpbbforum-page #findbar {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

#phpbbforum-page .forumrules {
	background-color: #F9CC79;
	border-width: 1px;
	border-style: solid;
	border-color: #BB9860;
	padding: 4px;
	font-weight: normal;
	font-size: 1.1em;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

#phpbbforum-page .forumrules h3 {
	color: red;
}

#phpbbforum-page #pageheader { }
#phpbbforum-page #pagecontent { }
#phpbbforum-page #pagefooter { }

#phpbbforum-page #poll { }
#phpbbforum-page #postrow { }
#phpbbforum-page #postdata { }


/*  Text
 --------------------- */
#phpbbforum-page h1 {
	color: black;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	font-weight: bold;
	font-size: 1.8em;
	text-decoration: none;
}

#phpbbforum-page h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 1.5em;
	text-decoration: none;
	line-height: 120%;
}

#phpbbforum-page h3 {
	font-size: 1.3em;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 120%;
}

#phpbbforum-page h4 {
	margin: 0;
	font-size: 1.1em;
	font-weight: bold;
}

#phpbbforum-page p {
	font-size: 1.1em;
}

#phpbbforum-page p.moderators {
	margin: 0;
	float: left;
	color: black;
	font-weight: bold;
}

#phpbbforum-page .rtl p.moderators {
	float: right;
}

#phpbbforum-page p.linkmcp {
	margin: 0;
	float: right;
	white-space: nowrap;
}

#phpbbforum-page .rtl p.linkmcp {
	float: left;
}

#phpbbforum-page p.breadcrumbs {
	margin: 0;
	float: left;
	color: black;
	font-weight: bold;
	white-space: normal;
	font-size: 1em;
}

#phpbbforum-page .rtl p.breadcrumbs {
	float: right;
}

#phpbbforum-page p.datetime {
	margin: 0;
	float: right;
	white-space: nowrap;
	font-size: 1em;
}

#phpbbforum-page .rtl p.datetime {
	float: left;
}

#phpbbforum-page p.searchbar {
	padding: 2px 0;
	white-space: nowrap;
} 

#phpbbforum-page p.searchbarreg {
	margin: 0;
	float: right;
	white-space: nowrap;
}

#phpbbforum-page .rtl p.searchbarreg {
	float: left;
}

#phpbbforum-page p.forumdesc {
	padding-bottom: 4px;
}

#phpbbforum-page p.topicauthor {
	margin: 1px 0;
}

#phpbbforum-page p.topicdetails {
	margin: 1px 0;
}

#phpbbforum-page .postreported, #phpbbforum-page .postreported a:link, #phpbbforum-page .postreported a:visited, #phpbbforum-page .postreported a:hover, #phpbbforum-page .postreported a:active {
	margin: 1px 0;
	color: red;
	font-weight:bold;
}

#phpbbforum-page .postapprove, #phpbbforum-page .postapprove a:link, #phpbbforum-page .postapprove a:visited, #phpbbforum-page .postapprove a:hover, #phpbbforum-page .postapprove a:active {
	color: green;
	font-weight:bold;
}

#phpbbforum-page .postapprove img, #phpbbforum-page .postreported img {
	vertical-align: bottom;
	padding-top: 5px;
}

#phpbbforum-page .postauthor {
	color: #000000;
}

#phpbbforum-page .postdetails {
	color: #000000;
}

#phpbbforum-page .postbody {
	font-size: 1.3em;
	line-height: 1.4em;
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
}

#phpbbforum-page .postbody li, #phpbbforum-page ol, #phpbbforum-page ul {
	margin: 0 0 0 1.5em;
}

#phpbbforum-page .rtl .postbody li, #phpbbforum-page .rtl ol, #phpbbforum-page .rtl ul {
	margin: 0 1.5em 0 0;
}

#phpbbforum-page .posthilit {
	background-color: yellow;
}

#phpbbforum-page .nav {
	margin: 0;
	color: black;
	font-weight: bold;
}

#phpbbforum-page .pagination {
	padding: 4px;
	color: black;
	font-size: 1em;
	font-weight: bold;
}

#phpbbforum-page .cattitle {

}

#phpbbforum-page .gen {
	margin: 1px 1px;
	font-size: 1.2em;
}

#phpbbforum-page .genmed {
	margin: 1px 1px;
	font-size: 1.1em;
}

#phpbbforum-page .gensmall {
	margin: 1px 1px;
	font-size: 1em;
}

#phpbbforum-page .copyright {
	color: #444;
	font-weight: normal;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

#phpbbforum-page .titles {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	text-decoration: none;
}

#phpbbforum-page .error {
	color: red;
}


/* Tables
 ------------ */
#phpbbforum-page th {
	color: #FFA34F;
	font-size: 1.1em;
	font-weight: bold;
	background-color: #006699;
	background-image: url('./images/cellpic3.gif');
	white-space: nowrap;
	padding: 7px 5px;
}

#phpbbforum-page td {
	padding: 2px;
}
#phpbbforum-page td.profile {
	padding: 4px;
}

#phpbbforum-page .tablebg {
	background-color: #A9B8C2;
}

#phpbbforum-page .catdiv {
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background: white url('./images/cellpic2.jpg') repeat-y scroll top left;
}
#phpbbforum-page .rtl .catdiv {
	background: white url('./images/cellpic2_rtl.jpg') repeat-y scroll top right;
}

#phpbbforum-page .cat {
	height: 28px;
	margin: 0;
	padding: 0;
	border: 0;
	background-color: #C7D0D7;
	background-image: url('./images/cellpic1.gif');
	text-indent: 4px;
}

#phpbbforum-page .row1 {
	background-color: #ECECEC;
	padding: 4px;
}

#phpbbforum-page .row2 {
	background-color: #DCE1E5;
	padding: 4px;
}

#phpbbforum-page .row3 {
	background-color: #C0C8D0;
	padding: 4px;
}

#phpbbforum-page .spacer {
	background-color: #D1D7DC;
}

#phpbbforum-page hr {
	height: 1px;
	border-width: 0;
	background-color: #D1D7DC;
	color: #D1D7DC;
}

#phpbbforum-page .legend {
	text-align:center;
	margin: 0 auto;
}

/* Links
 ------------ */

/* Links adjustment to correctly display an order of rtl/ltr mixed content */
#phpbbforum-page .rtl a {
	direction: rtl;
	unicode-bidi: embed;
}

/* CSS spec requires a:link, a:visited, a:hover and a:active rules to be specified in this order. */
/* See http://www.phpbb.com/bugs/phpbb3/59685 */

#phpbbforum-page a:link {
	color: #006597;
	text-decoration: none;
}

#phpbbforum-page a:visited {
	color: #005784;
	text-decoration: none;
}

#phpbbforum-page a:hover {
	color: #D46400;
	text-decoration: underline;
}

#phpbbforum-page a:active {
	color: #005784;
	text-decoration: none;
}

#phpbbforum-page a.forumlink {
	color: #069;
	font-weight: bold;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
}

#phpbbforum-page a.topictitle {
	margin: 1px 0;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
}

#phpbbforum-page a.topictitle:visited {
	color: #5493B4;
	text-decoration: none;
}

#phpbbforum-page th a,
#phpbbforum-page th a:visited {
	color: #FFA34F !important;
	text-decoration: none;
}

#phpbbforum-page th a:hover {
	text-decoration: underline;
}


/* Form Elements
 ------------ */
#phpbbforum-page form {
	margin: 0;
	padding: 0;
	border: 0;
}

#phpbbforum-page input {
	color: #333333;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	padding: 1px;
	border: 1px solid #A9B8C2;
	background-color: #FAFAFA;
}

#phpbbforum-page textarea {
	background-color: #FAFAFA;
	color: #333333;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.3em; 
	line-height: 1.4em;
	font-weight: normal;
	border: 1px solid #A9B8C2;
	padding: 2px;
}

#phpbbforum-page select {
	color: #333333;
	background-color: #FAFAFA;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: normal;
	border: 1px solid #A9B8C2;
	padding: 1px;
}

#phpbbforum-page option {
	padding: 0 1em 0 0;
}

#phpbbforum-page option.disabled-option {
	color: graytext;
}

#phpbbforum-page .rtl option {
	padding: 0 0 0 1em;
}

#phpbbforum-page input.radio {
	border: none;
	background-color: transparent;
}

#phpbbforum-page .post {
	background-color: white;
	border-style: solid;
	border-width: 1px;
}

#phpbbforum-page .btnbbcode {
	color: #000000;
	font-weight: normal;
	font-size: 1.1em;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	background-color: #EFEFEF;
	border: 1px solid #666666;
}

#phpbbforum-page .btnmain {
	font-weight: bold;
	background-color: #ECECEC;
	border: 1px solid #A9B8C2;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

#phpbbforum-page .btnlite {
	font-weight: normal;
	background-color: #ECECEC;
	border: 1px solid #A9B8C2;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}

#phpbbforum-page .btnfile {
	font-weight: normal;
	background-color: #ECECEC;
	border: 1px solid #A9B8C2;
	padding: 1px 5px;
	font-size: 1.1em;
}

#phpbbforum-page .helpline {
	background-color: #DEE3E7;
	border-style: none;
}


/* BBCode
 ------------ */
#phpbbforum-page .quotetitle, #phpbbforum-page .attachtitle {
	margin: 10px 5px 0 5px;
	padding: 4px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #A9B8C2;
	color: #333333;
	background-color: #A9B8C2;
	font-size: 0.85em;
	font-weight: bold;
}

#phpbbforum-page .quotetitle .quotetitle {
	font-size: 1em;
}

#phpbbforum-page .quotecontent, #phpbbforum-page .attachcontent {
	margin: 0 5px 10px 5px;
	padding: 5px;
	border-color: #A9B8C2;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.4em;
	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif;
	background-color: #FAFAFA;
	color: #4B5C77;
}

#phpbbforum-page .attachcontent {
	font-size: 0.85em;
}

#phpbbforum-page .codetitle {
	margin: 10px 5px 0 5px;
	padding: 2px 4px;
	border-width: 1px 1px 0 1px;
	border-style: solid;
	border-color: #A9B8C2;
	color: #333333;
	background-color: #A9B8C2;
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 0.8em;
}

#phpbbforum-page .codecontent {
	direction: ltr;
	margin: 0 5px 10px 5px;
	padding: 5px;
	border-color: #A9B8C2;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	color: #006600;
	font-size: 0.85em;
	font-family: Monaco, 'Courier New', monospace;
	background-color: #FAFAFA;
}

#phpbbforum-page .syntaxbg {
	color: #FFFFFF;
}

#phpbbforum-page .syntaxcomment {
	color: #FF8000;
}

#phpbbforum-page .syntaxdefault {
	color: #0000BB;
}

#phpbbforum-page .syntaxhtml {
	color: #000000;
}

#phpbbforum-page .syntaxkeyword {
	color: #007700;
}

#phpbbforum-page .syntaxstring {
	color: #DD0000;
}


/* Private messages
 ------------------ */
#phpbbforum-page .pm_marked_colour {
	background-color: #000000;
}

#phpbbforum-page .pm_replied_colour {
	background-color: #A9B8C2;
}

#phpbbforum-page .pm_friend_colour {
	background-color: #007700;
}

#phpbbforum-page .pm_foe_colour {
	background-color: #DD0000;
}


/* Misc
 ------------ */
#phpbbforum-page img {
	border: none;
}

#phpbbforum-page .sep {
	color: black;
	background-color: #FFA34F;
}

#phpbbforum-page table.colortable td {
	padding: 0;
}

#phpbbforum-page pre {
	font-size: 1.1em;
	font-family: Monaco, 'Courier New', monospace;
}

#phpbbforum-page .nowrap {
	white-space: nowrap;
}

#phpbbforum-page .username-coloured {
	font-weight: bold;
}
