/* proSilver Content Styles
---------------------------------------- */

#phpbbforum-page ul.topiclist {
	display: block;
	list-style-type: none;
	margin: 0;
}

#phpbbforum-page ul.forums {
	background: #f9f9f9 none repeat-x 0 0;
}

#phpbbforum-page ul.topiclist li {
	display: block;
	list-style-type: none;
	color: #777777;
	margin: 0;
}

#phpbbforum-page ul.topiclist dl {
	position: relative;
}

#phpbbforum-page ul.topiclist li.row dl {
	padding: 2px 0;
}

#phpbbforum-page ul.topiclist dt {
	display: block;
	float: left;
	width: 50%;
	font-size: 1.1em;
	padding-left: 5px;
	padding-right: 5px;
}

#phpbbforum-page ul.topiclist dd {
	display: block;
	float: left;
	border-left: 1px solid #FFFFFF;
	padding: 4px 0;
}

#phpbbforum-page ul.topiclist dfn {
	/* Labels for post/view counts */
	position: absolute;
	left: -999px;
	width: 990px;
}

#phpbbforum-page ul.topiclist li.row dt a.subforum {
	background-image: none;
	background-position: 0 50%;
	background-repeat: no-repeat;
	position: relative;
	white-space: nowrap;
	padding: 0 0 0 12px;
}

#phpbbforum-page .forum-image {
	float: left;
	padding-top: 5px;
	margin-right: 5px;
}

#phpbbforum-page li.row {
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #8f8f8f;
}

#phpbbforum-page li.row strong {
	font-weight: normal;
	color: #000000;
}

#phpbbforum-page li.row:hover {
	background-color: #f6f6f6;
}

#phpbbforum-page li.row:hover dd {
	border-left-color: #CCCCCC;
}

#phpbbforum-page li.header dt, #phpbbforum-page li.header dd {
	line-height: 1em;
	border-left-width: 0;
	margin: 2px 0 4px 0;
	color: #FFFFFF;
	padding-top: 2px;
	padding-bottom: 2px;
	font-size: 1em;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

#phpbbforum-page li.header dt {
	font-weight: bold;
}

#phpbbforum-page li.header dd {
	margin-left: 1px;
}

#phpbbforum-page li.header dl.icon {
	min-height: 0;
}

#phpbbforum-page li.header dl.icon dt {
	/* Tweak for headers alignment when folder icon used */
	padding-left: 0;
	padding-right: 50px;
}

/* Forum list column styles */
#phpbbforum-page dl.icon {
	min-height: 35px;
	background-position: 10px 50%;		/* Position of folder icon */
	background-repeat: no-repeat;
}

#phpbbforum-page dl.icon dt {
	padding-left: 45px;					/* Space for folder icon */
	background-repeat: no-repeat;
	background-position: 5px 95%;		/* Position of topic icon */
}

#phpbbforum-page dd.posts, #phpbbforum-page dd.topics, #phpbbforum-page dd.views {
	width: 8%;
	text-align: center;
	line-height: 2.2em;
	font-size: 1.2em;
}

/* List in forum description */
#phpbbforum-page dl.icon dt ol,
#phpbbforum-page dl.icon dt ul {
	list-style-position: inside;
	margin-left: 1em;
}

#phpbbforum-page dl.icon dt li {
	display: list-item;
	list-style-type: inherit;
}

#phpbbforum-page dd.lastpost {
	width: 25%;
	font-size: 1.1em;
}

#phpbbforum-page dd.redirect {
	font-size: 1.1em;
	line-height: 2.5em;
}

#phpbbforum-page dd.moderation {
	font-size: 1.1em;
}

#phpbbforum-page dd.lastpost span, #phpbbforum-page ul.topiclist dd.searchby span, #phpbbforum-page ul.topiclist dd.info span, #phpbbforum-page ul.topiclist dd.time span, #phpbbforum-page dd.redirect span, #phpbbforum-page dd.moderation span {
	display: block;
	padding-left: 5px;
}

#phpbbforum-page dd.time {
	width: auto;
	line-height: 200%;
	font-size: 1.1em;
}

#phpbbforum-page dd.extra {
	width: 12%;
	line-height: 200%;
	text-align: center;
	font-size: 1.1em;
}

#phpbbforum-page dd.mark {
	float: right !important;
	width: 9%;
	text-align: center;
	line-height: 200%;
	font-size: 1.2em;
}

#phpbbforum-page dd.info {
	width: 30%;
}

#phpbbforum-page dd.option {
	width: 15%;
	line-height: 200%;
	text-align: center;
	font-size: 1.1em;
}

#phpbbforum-page dd.searchby {
	width: 47%;
	font-size: 1.1em;
	line-height: 1em;
}

#phpbbforum-page ul.topiclist dd.searchextra {
	margin-left: 5px;
	padding: 0.2em 0;
	font-size: 1.1em;
	color: #333333;
	border-left: none;
	clear: both;
	width: 98%;
	overflow: hidden;
}

/* Container for post/reply buttons and pagination */
#phpbbforum-page .topic-actions {
	margin-bottom: 3px;
	font-size: 1.1em;
	height: 28px;
	min-height: 28px;
}
#phpbbforum-page div[class].topic-actions {
	height: auto;
}

/* Post body styles
----------------------------------------*/
#phpbbforum-page .postbody {
	padding: 0;
	line-height: 1.48em;
	color: #333333;
	width: 76%;
	float: left;
	clear: both;
}

#phpbbforum-page .postbody .ignore {
	font-size: 1.1em;
}

#phpbbforum-page .postbody h3.first {
	/* The first post on the page uses this */
	font-size: 1.7em;
}

#phpbbforum-page .postbody h3 {
	/* Postbody requires a different h3 format - so change it here */
	font-size: 1.5em;
	padding: 2px 0 0 0;
	margin: 0 0 0.3em 0 !important;
	text-transform: none;
	border: none;
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	line-height: 125%;
}

#phpbbforum-page .postbody h3 img {
	/* Also see tweaks.css */
	vertical-align: bottom;
}

#phpbbforum-page .postbody .content {
	font-size: 1.3em;
}

#phpbbforum-page .search .postbody {
	width: 68%
}

/* Topic review panel
----------------------------------------*/
#phpbbforum-page #review {
	margin-top: 2em;
}

#phpbbforum-page #topicreview {
	padding-right: 5px;
	overflow: auto;
	height: 300px;
}

#phpbbforum-page #topicreview .postbody {
	width: auto;
	float: none;
	margin: 0;
	height: auto;
}

#phpbbforum-page #topicreview .post {
	height: auto;
}

#phpbbforum-page #topicreview h2 {
	border-bottom-width: 0;
}

#phpbbforum-page .post-ignore .postbody {
	display: none;
}

/* MCP Post details
----------------------------------------*/
#phpbbforum-page #post_details
{
	/* This will only work in IE7+, plus the others */
	overflow: auto;
	max-height: 300px;
}

#phpbbforum-page #expand
{
	clear: both;
}

/* Content container styles
----------------------------------------*/
#phpbbforum-page .content {
	min-height: 3em;
	overflow: hidden;
	line-height: 1.4em;
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1em;
	color: #333333;
	padding-bottom: 1px;
}

#phpbbforum-page .content h2, #phpbbforum-page .panel h2 {
	font-weight: normal;
	color: #989898;
	border-bottom: 1px solid #CCCCCC;
	font-size: 1.6em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
}

#phpbbforum-page .panel h3 {
	margin: 0.5em 0;
}

#phpbbforum-page .panel p {
	font-size: 1.2em;
	margin-bottom: 1em;
	line-height: 1.4em;
}

#phpbbforum-page .content p {
	font-family: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.2em;
	margin-bottom: 1em;
	line-height: 1.4em;
}

#phpbbforum-page dl.faq {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	font-size: 1.1em;
	margin-top: 1em;
	margin-bottom: 2em;
	line-height: 1.4em;
}

#phpbbforum-page dl.faq dt {
	font-weight: bold;
	color: #333333;
}

#phpbbforum-page .content dl.faq {
	font-size: 1.2em;
	margin-bottom: 0.5em;
}

#phpbbforum-page .content li {
	list-style-type: inherit;
}

#phpbbforum-page .content ul, #phpbbforum-page .content ol {
	margin-bottom: 1em;
	margin-left: 3em;
}

#phpbbforum-page .posthilit {
	background-color: #f3f3f3;
	color: #BCBCBC;
	padding: 0 2px 1px 2px;
}

#phpbbforum-page .announce, #phpbbforum-page .unreadpost {
	/* Highlight the announcements & unread posts box */
	border-left-color: #BCBCBC;
	border-right-color: #BCBCBC;
}

/* Post author */
#phpbbforum-page p.author {
	margin: 0 15em 0.6em 0;
	padding: 0 0 5px 0;
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 1em;
	line-height: 1.2em;
}

/* Post signature */
#phpbbforum-page .signature {
	margin-top: 1.5em;
	padding-top: 0.2em;
	font-size: 1.1em;
	border-top: 1px solid #CCCCCC;
	clear: left;
	line-height: 140%;
	overflow: hidden;
	width: 100%;
}

#phpbbforum-page dd .signature {
	margin: 0;
	padding: 0;
	clear: none;
	border: none;
}

#phpbbforum-page .signature li {
	list-style-type: inherit;
}

#phpbbforum-page .signature ul, #phpbbforum-page .signature ol {
	margin-bottom: 1em;
	margin-left: 3em;
}

/* Post noticies */
#phpbbforum-page .notice {
	font-family: "Lucida Grande", Verdana, Helvetica, Arial, sans-serif;
	width: auto;
	margin-top: 1.5em;
	padding-top: 0.2em;
	font-size: 1em;
	border-top: 1px dashed #CCCCCC;
	clear: left;
	line-height: 130%;
}

/* Jump to post link for now */
#phpbbforum-page ul.searchresults {
	list-style: none;
	text-align: right;
	clear: both;
}

/* BB Code styles
----------------------------------------*/
/* Quote block */
#phpbbforum-page blockquote {
	background: #ebebeb none 6px 8px no-repeat;
	border: 1px solid #dbdbdb;
	font-size: 0.95em;
	margin: 0.5em 1px 0 25px;
	overflow: hidden;
	padding: 5px;
}

#phpbbforum-page blockquote blockquote {
	/* Nested quotes */
	background-color: #bababa;
	font-size: 1em;
	margin: 0.5em 1px 0 15px;	
}

#phpbbforum-page blockquote blockquote blockquote {
	/* Nested quotes */
	background-color: #e4e4e4;
}

#phpbbforum-page blockquote cite {
	/* Username/source of quoter */
	font-style: normal;
	font-weight: bold;
	margin-left: 20px;
	display: block;
	font-size: 0.9em;
}

#phpbbforum-page blockquote cite cite {
	font-size: 1em;
}

#phpbbforum-page blockquote.uncited {
	padding-top: 25px;
}

/* Code block */
#phpbbforum-page dl.codebox {
	padding: 3px;
	background-color: #FFFFFF;
	border: 1px solid #d8d8d8;
	font-size: 1em;
}

#phpbbforum-page dl.codebox dt {
	text-transform: uppercase;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 3px;
	font-size: 0.8em;
	font-weight: bold;
	display: block;
}

#phpbbforum-page blockquote dl.codebox {
	margin-left: 0;
}

#phpbbforum-page dl.codebox code {
	/* Also see tweaks.css */
	overflow: auto;
	display: block;
	height: auto;
	max-height: 200px;
	white-space: normal;
	padding-top: 5px;
	font: 0.9em Monaco, "Andale Mono","Courier New", Courier, mono;
	line-height: 1.3em;
	color: #8b8b8b;
	margin: 2px 0;
}

#phpbbforum-page .syntaxbg		{ color: #FFFFFF; }
#phpbbforum-page .syntaxcomment	{ color: #000000; }
#phpbbforum-page .syntaxdefault	{ color: #bcbcbc; }
#phpbbforum-page .syntaxhtml		{ color: #000000; }
#phpbbforum-page .syntaxkeyword	{ color: #585858; }
#phpbbforum-page .syntaxstring	{ color: #a7a7a7; }

/* Attachments
----------------------------------------*/
#phpbbforum-page .attachbox {
	float: left;
	width: auto; 
	margin: 5px 5px 5px 0;
	padding: 6px;
	background-color: #FFFFFF;
	border: 1px dashed #d8d8d8;
	clear: left;
}

#phpbbforum-page .pm-message .attachbox {
	background-color: #f3f3f3;
}

#phpbbforum-page .attachbox dt {
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
}

#phpbbforum-page .attachbox dd {
	margin-top: 4px;
	padding-top: 4px;
	clear: left;
	border-top: 1px solid #d8d8d8;
}

#phpbbforum-page .attachbox dd dd {
	border: none;
}

#phpbbforum-page .attachbox p {
	line-height: 110%;
	color: #666666;
	font-weight: normal;
	clear: left;
}

#phpbbforum-page .attachbox p.stats
{
	line-height: 110%;
	color: #666666;
	font-weight: normal;
	clear: left;
}

#phpbbforum-page .attach-image {
	margin: 3px 0;
	width: 100%;
	max-height: 350px;
	overflow: auto;
}

#phpbbforum-page .attach-image img {
	border: 1px solid #999999;
/*	cursor: move; */
	cursor: default;
}

/* Inline image thumbnails */
#phpbbforum-page div.inline-attachment dl.thumbnail, #phpbbforum-page div.inline-attachment dl.file {
	display: block;
	margin-bottom: 4px;
}

#phpbbforum-page div.inline-attachment p {
	font-size: 100%;
}

#phpbbforum-page dl.file {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	display: block;
}

#phpbbforum-page dl.file dt {
	text-transform: none;
	margin: 0;
	padding: 0;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#phpbbforum-page dl.file dd {
	color: #666666;
	margin: 0;
	padding: 0;	
}

#phpbbforum-page dl.thumbnail img {
	padding: 3px;
	border: 1px solid #666666;
	background-color: #FFF;
}

#phpbbforum-page dl.thumbnail dd {
	color: #666666;
	font-style: italic;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

#phpbbforum-page .attachbox dl.thumbnail dd {
	font-size: 100%;
}

#phpbbforum-page dl.thumbnail dt a:hover {
	background-color: #EEEEEE;
}

#phpbbforum-page dl.thumbnail dt a:hover img {
	border: 1px solid #d2d2d2;
}

/* Post poll styles
----------------------------------------*/
#phpbbforum-page fieldset.polls {
	font-family: "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
}

#phpbbforum-page fieldset.polls dl {
	margin-top: 5px;
	border-top: 1px solid #e2e2e2;
	padding: 5px 0 0 0;
	line-height: 120%;
	color: #666666;
}

#phpbbforum-page fieldset.polls dl.voted {
	font-weight: bold;
	color: #000000;
}

#phpbbforum-page fieldset.polls dt {
	text-align: left;
	float: left;
	display: block;
	width: 30%;
	border-right: none;
	padding: 0;
	margin: 0;
	font-size: 1.1em;
}

#phpbbforum-page fieldset.polls dd {
	float: left;
	width: 10%;
	border-left: none;
	padding: 0 5px;
	margin-left: 0;
	font-size: 1.1em;
}

#phpbbforum-page fieldset.polls dd.resultbar {
	width: 50%;
}

#phpbbforum-page fieldset.polls dd input {
	margin: 2px 0;
}

#phpbbforum-page fieldset.polls dd div {
	text-align: right;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-weight: bold;
	padding: 0 2px;
	overflow: visible;
	min-width: 2%;
}

#phpbbforum-page .pollbar1 {
	background-color: #aaaaaa;
	border-bottom: 1px solid #747474;
	border-right: 1px solid #747474;
}

#phpbbforum-page .pollbar2 {
	background-color: #bebebe;
	border-bottom: 1px solid #8c8c8c;
	border-right: 1px solid #8c8c8c;
}

#phpbbforum-page .pollbar3 {
	background-color: #D1D1D1;
	border-bottom: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
}

#phpbbforum-page .pollbar4 {
	background-color: #e4e4e4;
	border-bottom: 1px solid #bebebe;
	border-right: 1px solid #bebebe;
}

#phpbbforum-page .pollbar5 {
	background-color: #f8f8f8;
	border-bottom: 1px solid #D1D1D1;
	border-right: 1px solid #D1D1D1;
}

/* Poster profile block
----------------------------------------*/
#phpbbforum-page .postprofile {
	/* Also see tweaks.css */
	margin: 5px 0 10px 0;
	min-height: 80px;
	color: #666666;
	border-left: 1px solid #FFFFFF;
	width: 22%;
	float: right;
	display: inline;
}
#phpbbforum-page .pm .postprofile {
	border-left: 1px solid #DDDDDD;
}

#phpbbforum-page .postprofile dd, #phpbbforum-page .postprofile dt {
	line-height: 1.2em;
	margin-left: 8px;
}

#phpbbforum-page .postprofile strong {
	font-weight: normal;
	color: #000000;
}

#phpbbforum-page .avatar {
	border: none;
	margin-bottom: 3px;
}

#phpbbforum-page .online {
	background-image: none;
	background-position: 100% 0;
	background-repeat: no-repeat;
}

/* Poster profile used by search*/
#phpbbforum-page .search .postprofile {
	width: 30%;
}

/* pm list in compose message if mass pm is enabled */
#phpbbforum-page dl.pmlist dt {
	width: 60% !important;
}

#phpbbforum-page dl.pmlist dt textarea {
	width: 95%;
}

#phpbbforum-page dl.pmlist dd {
	margin-left: 61% !important;
	margin-bottom: 2px;
}
