body, h1, h2, h3, h4, li.header dt, li.header dd, .postbody h3, .content, .content p, dl.faq, p.author, .notice, .attachbox dt, dl.file, dl.file dt, dl.thumbnail dd, fieldset.polls, fieldset.polls dd div, fieldset, input, select, textarea, #message-box textarea, a.button1, input.button1, input.button3, a.button2, input.button2, a.forumtitle, a.topictitle {
	font-family: "Open Sans";
}

#phpbb-links {
	float: right;
	margin-right: 25px;
	margin-top: 23px;
}

#phpbb-links .leftside {
	margin-right: 40px;
}

#wrap {
	padding-top: 80px;
}

ul.navlinks {
	border-bottom: none;
}
